<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root">
  <div class="App">
    <div class="dark_mode">
      <input class="dark_mode_input" type="checkbox" id="darkmode-toggle">
      <label class="dark_mode_label" for="darkmode-toggle">
        <svg class="sun" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496 496" xml:space="preserve">
          <!-- SVG content for sun -->
        </svg>
        <svg class="moon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 49.739 49.739" xml:space="preserve">
          <!-- SVG content for moon -->
        </svg>
      </label>
    </div>
    <div class="container">
      <app-coin-miner></app-coin-miner>
    </div>
  </div>
</div>
