

<div class="coin-miner-container" style="display: flex;" >
    <div class="coin-miner-title" >
        <div class="info-section" *ngIf="info === true">
          <h1>INFO</h1>
            <p class="totalCoinsDisplay">Balance: {{ coinService.balance }} $</p>
            <p class="levelOfClickerDisplay">Level of Clicker: {{ coinService.clickerLevel }}👆</p>
            <p class="levelOfBatteryDisplay">Level of Battery: {{ coinService.batteryLevel }}🔋</p>
            <p class="levelOfSpeedDisplay">Level of Charger: {{ coinService.chargerLevel }}⚡</p>
            <button  class="back"  (click)="this.updateInfo()">back</button>
          </div>
           
          <div class="skin-selector-section" *ngIf="skins === true" >
            <h1>Choose your skin</h1>
            <app-skin-selector></app-skin-selector>
              <button class="back" (click)="this.updateSkins()">back</button>
          </div>
    </div>
    
    
    <div class="centerItems" *ngIf="main === true">
      <div class="title">
        <div class="miner__info">
          <h2 class="totalCoinsDisplay">{{ coinService.balance }} $</h2>
        </div>
      </div>
      <div class="mineContainer">
        <img class="coin" (click)="coinService.selectTocken()" [src]="coinService.selectedSkin" alt="img of bitcoin">
      </div>
      <h3 class="batteryDisplay">{{ coinService.currentCoins }}🔋</h3>
      <div class="batterySizeBorder">
        <div class="batterySizeDisplay" [style.width.%]="(coinService.currentCoins / coinService.batteryLevel) * 100"></div>
      </div>
      <div class="btn-content">
        <div class="btn_info">
          <button (click)="this.updateInfo()"><img src="assets/img/info.svg" alt="">
          </button>
        </div>
        <div class="btn_skin">
          <button (click)="this.updateSkins()"><img src="assets/img/skin.svg" alt=""></button>
        </div>
        <div class="btn_update">
          <button (click)="this.updateUpdates()"><img src="assets/img/update.svg" alt=""></button>
        </div>
        <div class="btn_tasks">
          <button (click)="this.updateTask()"><img src="assets/img/apple.svg" alt=""></button>
        </div>
      </div>
    </div>
  



    <div class="button-container" *ngIf="updates === true">
      <h1>UPGRADE</h1>
      <div class="action">
        <p class="costOfClickDisplay">Add +1 👆 to click</p>
        <button class="add-click" (click)="coinService.upgradeClick()">{{coinService.btnClick}} $</button>
      </div>
      <div class="action">
        <p class="costOfBatteryDisplay">Add +500🔋 to battery</p>
        <button class="add-battery" (click)="coinService.upgradeBattery()">{{coinService.btnBattery}} $</button>
      </div>
      <div class="action">
        <p class="costOfSpeedDisplay">Add +1⚡ to charge speed</p>
        <button class="add-speed" (click)="coinService.upgradeCharger()">{{coinService.btnSpeed}}$</button>
      </div>
      <button class="back" (click)="this.updateUpdates()">back</button>
    </div>
    <div>
      <div class="button-container" *ngIf="tasks === true">
        <h1>Tasks</h1>
        <div class="task-list"  *ngFor="let task of coinService.tasks" >
          <div class="task-item">
            <div class="task-video-icon">▶</div>
            <div class="task-info">
              <p class="description">{{task.description}}</p>
              <p class="reward">+{{task.reward}}BP</p>
            </div>
            <a href={{task.link}}>
              <button class="task-button">Start</button>
            </a>          
          </div>
        </div>
        <button class="back" (click)="this.updateTask()">back</button>
    </div>
       

  
  </div>
  